<footer>
  <!--footer-primary-->
  <section class="section footer-copyright">
    <div class="container">
      <!--<ul class="footer-nav">-->
      <!--<li><a href="#">Home</a></li>-->
      <!--<li><a href="#">About</a></li>-->
      <!--<li><a href="#">Services</a></li>-->
      <!--<li><a href="#">Portfolio</a></li>-->
      <!--<li><a href="#">Contact Us</a></li>-->
      <!--</ul>-->
      <p>&copy; 2017 NYC Makeup By Ale. All Rights reserved.</p>
    </div>
    <!--container-->
  </section>
  <!--footer-primary-->
</footer>
<a class="goto-top"><i class="fa fa-angle-double-up" aria-hidden="true"></i></a>
<!--go to top-->
