<section class="section section-page-title" style="background-image:url(assets/images/work.jpg)">
  <div class="overlay">
    <h1>Makeup for the Bride</h1>
  </div>
  <!--overlay-->
</section>
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-8 pull-right">
        <p><img src="assets/images/bridal.jpg" alt=""></p>
        <h3>On Location Makeup for the Bride & Bridal Party</h3>
        <p>Donec laoreet malesuada varius. Aenean sit amet neque in est feugiat auctor. Vivamus condimentum consectetur sem vel tempor. Etiam et porta quam. Aliquam erat volutpat. Sed ut odio quis magna fringilla sodales a sed quam. Maecenas sollicitudin volutpat egestas. Nam quis purus ac purus tempus. </p>
        <h3>Bridal Makeup</h3>
        <p>Ut in lorem consequat, elementum ligula id, cursus leo. Nam eu ex eget metus rhoncus sollicitudin vel eu nunc. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc mollis purus nibh, non viverra ipsum condimentum vitae. Praesent consequat, ante laoreet pulvinar cursus, urna lectus aliquam nunc, a viverra turpis ipsum rhoncus mauris. Sed a massa consequat, mattis tortor sed, tincidunt nunc. Pellentesque aliquet sem iaculis, ultrices dolor eget, consequat mauris. </p>
        <h3>Perfect Wedding Make Up</h3>
        <p>Donec laoreet malesuada varius. Aenean sit amet neque in est feugiat auctor. Vivamus condimentum consectetur sem vel tempor. Etiam et porta quam. Aliquam erat volutpat. Sed ut odio quis magna fringilla sodales a sed quam. Maecenas sollicitudin volutpat egestas. Nam quis purus ac purus tempus iaculis. </p>
      </div>
      <!--col-md-8-->
      <div class="col-md-4 col-sm-4 pull-left">
        <ul class="service-list-group">
          <li><a href="single-service.html">Bridal Makeup</a></li>
          <li><a href="single-service.html">tv film commercial</a></li>
          <li><a href="single-service.html">Special occasions</a></li>
          <li><a href="single-service.html">Model Photo Shoots</a></li>
          <li><a href="single-service.html">Engagement Photos</a></li>
          <li><a href="single-service.html">Airbrush Makeup</a></li>
        </ul>
      </div>
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
