<nav class="navbar navbar-default bootsnav">
  <div class="container">
    <!-- Start Header Navigation -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu"> <i class="fa fa-bars"></i> </button>
      <a class="navbar-brand" routerLink="home"><img src="assets/images/logo.png" class="logo" alt=""></a> </div>
    <!-- End Header Navigation -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-menu">
      <ul class="nav navbar-nav navbar-right" data-in="fadeInUp" data-out="fadeOutDown">
        <li><a href="#">Email: nycmakeupbyale@gmail.com</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!--container-->
</nav>
<!--navbar-->
