<section class="section section-page-title" style="background-image:url(assets/images/service.jpg)">
  <div class="overlay">
    <h1>Services</h1>
  </div>
  <!--overlay-->
</section>
<section class="section section-services-inner">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-box service-color-one">
          <div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>
          <div class="service-contents">
            <h1>Bridal Makeup</h1>
            <p>Considering just how important the makeup arts are for these industries, the quality of my work was required to match the class. After hundreds of sessions it seems it did!</p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>
            <a class="btn btn-primary" href="single-service.html">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="service-box service-color-two">
          <div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>
          <div class="service-contents">
            <h1>tv film commercial</h1>
            <p>Considering just how important the makeup arts are for these industries, the quality of my work was required to match the class. After hundreds of sessions it seems it did!</p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="service-box service-color-three">
          <div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>
          <div class="service-contents">
            <h1>Special occasions</h1>
            <p>Considering just how important the makeup arts are for these industries, the quality of my work was required to match the class. After hundreds of sessions it seems it did!</p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-4-->
    </div>
    <!--row-->
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="service-box service-color-one">
          <div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>
          <div class="service-contents">
            <h1>Model Photo Shoots</h1>
            <p>Considering just how important the makeup arts are for these industries, the quality of my work was required to match the class. After hundreds of sessions it seems it did!</p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="service-box service-color-two">
          <div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>
          <div class="service-contents">
            <h1>Engagement Photos</h1>
            <p>Considering just how important the makeup arts are for these industries, the quality of my work was required to match the class. After hundreds of sessions it seems it did!</p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-4-->
      <div class="col-md-4 col-sm-6">
        <div class="service-box service-color-three">
          <div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>
          <div class="service-contents">
            <h1>Airbrush Makeup</h1>
            <p>Considering just how important the makeup arts are for these industries, the quality of my work was required to match the class. After hundreds of sessions it seems it did!</p>
            <p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>
            <a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> </div>
          <!--service-contents-->
        </div>
        <!--service-box-->
      </div>
      <!--col-md-4-->
    </div>
    <!--row-->
  </div>
  <!--container-->
</section>
<!--section-services-->
<section class="section parallax">
  <div class="overlay">
    <div class="container">
      <h1 class="pb-20">Offering Makeup and Hair Stylist Services</h1>
      <p class="max-500 intro pb-20">Japanese nail art design is a trend that increases its popularity every year. It plays a major role in trend-setting fashion, and is the top choice in nail art competitions. </p>
      <a class="btn btn-primary btn-rounded btn-pink" href="#">Book Now!</a> </div>
    <!--container-->
  </div>
  <!--overlay-->
</section>
<!--section-paralax-->
<section class="section section-pricing">
  <!-- section-title -->
  <div class="section-title text-center">
    <h1>View Pricing</h1>
  </div>
  <!-- end section-title -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-box pink-bg">
          <div class="pricing-box-inner">
            <h3>Standard</h3>
            <div class="price"><sup class="currency">$</sup>99</div>
            <ul>
              <li>Bridal Makeup Trial</li>
              <li>Hair OR Makeup Trial </li>
              <li>Complimentary Lashes</li>
              <li>Bridal Touch up Kit</li>
              <li>Veil Placement</li>
            </ul>
            <div class="pricing-button-box"> <a class="btn btn-primary">Get it now!</a> </div>
            <!--pricing-button-box-->
          </div>
          <!--pricing-inner-->
        </div>
        <!--pricing-box-->
      </div>
      <!--col-->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-box yellow-bg">
          <div class="pricing-box-inner">
            <h3>Premium</h3>
            <div class="price"><sup class="currency">$</sup>199</div>
            <ul>
              <li>Bridal Makeup Trial</li>
              <li>Hair OR Makeup Trial </li>
              <li>Complimentary Lashes</li>
              <li>Bridal Touch up Kit</li>
              <li>Veil Placement</li>
            </ul>
            <div class="pricing-button-box"> <a class="btn btn-primary">Get it now!</a> </div>
            <!--pricing-button-box-->
          </div>
          <!--pricing-inner-->
        </div>
        <!--pricing-box-->
      </div>
      <!--col-->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-box green-bg">
          <div class="pricing-box-inner">
            <h3>Professional</h3>
            <div class="price"><sup class="currency">$</sup>299</div>
            <ul>
              <li>Bridal Makeup Trial</li>
              <li>Hair OR Makeup Trial </li>
              <li>Complimentary Lashes</li>
              <li>Bridal Touch up Kit</li>
              <li>Veil Placement</li>
            </ul>
            <div class="pricing-button-box"> <a class="btn btn-primary">Get it now!</a> </div>
            <!--pricing-button-box-->
          </div>
          <!--pricing-inner-->
        </div>
        <!--pricing-box-->
      </div>
      <!--col-->
      <div class="col-md-3 col-sm-6 col-xs-12">
        <div class="pricing-box blue-bg">
          <div class="pricing-box-inner">
            <h3>Extreme</h3>
            <div class="price"><sup class="currency">$</sup>399</div>
            <ul>
              <li>Bridal Makeup Trial</li>
              <li>Hair OR Makeup Trial </li>
              <li>Complimentary Lashes</li>
              <li>Bridal Touch up Kit</li>
              <li>Veil Placement</li>
            </ul>
            <div class="pricing-button-box"> <a class="btn btn-primary">Get it now!</a> </div>
            <!--pricing-button-box-->
          </div>
          <!--pricing-inner-->
        </div>
        <!--pricing-box-->
      </div>
      <!--col-->
    </div>
    <!-- row-->
  </div>
  <!--container-->
</section>
<!--section-->
