<!--<carousel>-->
  <!--<slide>-->
    <!--<img src="assets/images/slide1.jpg" alt="First Image">-->
    <!--<div class="carousel-caption">-->
      <!--<div class="carousel-caption-inner">-->
        <!--<div class="container">-->
          <!--<div class="row">-->
            <!--<div class="col-md-5 col-md-offset-7">-->
              <!--<h1>Professional<br/>-->
                <!--Makeup Artist</h1>-->
              <!--<p>Whatever the occasion is, be sure that my <strong>professional makeup</strong> work and products will make you <strong>shine</strong> and stand out!</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</slide>-->
  <!--<slide>-->
    <!--<img src="assets/images/slide2.jpg" alt="Second slide">-->
    <!--<div class="carousel-caption">-->
      <!--<div class="carousel-caption-inner">-->
        <!--<div class="container">-->
          <!--<div class="row">-->
            <!--<div class="col-md-5">-->
              <!--<h1>Professional<br/>-->
                <!--Makeup Artist</h1>-->
              <!--<p>Whatever the occasion is, be sure that <strong>my professional</strong> makeup work and products will make you <strong>shine </strong>and stand out!</p>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;carousel-caption-inner&ndash;&gt;-->
    <!--</div>-->
  <!--</slide>-->
<!--</carousel>-->

<!--<section class="section section-services">-->
  <!--&lt;!&ndash; section-title &ndash;&gt;-->
  <!--<div class="section-title text-center">-->
    <!--<h1 class="decor">Makeup Artist <span>Services</span></h1>-->
  <!--</div>-->
  <!--&lt;!&ndash; end section-title &ndash;&gt;-->
  <!--<div class="container">-->
    <!--<div class="row">-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<div class="service-box service-color-one">-->
          <!--<div class="service-img"><img src="assets/images/service1.jpg" alt=""></div>-->
          <!--<div class="service-contents">-->
            <!--<h1>Bridal Makeup</h1>-->
            <!--<p>Maria A Contreras is an on-location New York City professional wedding and event makeup artist serving NYC, the Tri-State area, as well as to destinations beyond. specializes in designing long-lasting, airbrush wedding makeup styles that are flawless in-person and on camera, yet feel very comfortable and natural. When you look at the following my bridal images and my wedding galleries, you’ll notice that all the women look like the best version of themselves. designed their makeup look to work cohesively with their comfort level, style, theme, hair, color palette and dress. looks forward to using my years of experience to deliver the perfect look for your wedding.-->
            <!--</p>-->
            <!--&lt;!&ndash;<p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash;service-contents&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;service-box&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;col-md-4&ndash;&gt;-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<div class="service-box service-color-two">-->
          <!--<div class="service-img"><img src="assets/images/service2.jpg" alt=""></div>-->
          <!--<div class="service-contents">-->
            <!--<h1>tv film commercial</h1>-->
            <!--<p>My style as an artist is soft, fresh, elegant & timeless. I have a passion for creating beautiful polished looks while emphasizing your best features and allowing your inner beauty glow from the inside out. I love being given the opportunity of making a woman feel good about herself and working my magic to enhance her natural beauty & my belief is that less is more when it comes application.  With personalized one on one consultations I offer my clients the full celebrity-experience, helping you look and feel your best to capture magical moments</p>-->
            <!--&lt;!&ndash;<p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash;service-contents&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;service-box&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;col-md-4&ndash;&gt;-->
      <!--<div class="col-md-4 col-sm-6">-->
        <!--<div class="service-box service-color-three">-->
          <!--<div class="service-img"><img style="height: 442px; width: 380px;" src="assets/images/gallery/bridal9.jpg" alt=""></div>-->
          <!--<div class="service-contents">-->
            <!--<h1>Special occasions</h1>-->
            <!--<p> Maria A Contreras is focused on fashion and glamour inspired Make Up Artistry. She is trained specifically in working with photo ready make up for light responsiveness.  Her work is styled to each individual client creating looks for fashion shoots, editorials, glamour, pin up and special events & runway shows.</p>-->
            <!--<p>Maria is talented in creating looks that are simple and natural to looks that are dramatic and glamorous. Her wide range of artistry help us create looks and styles that are right for each client. </p>-->
            <!--&lt;!&ndash;<p class="service-price pb-10"><span class="decor-text">starts from</span> <strong>$156.00</strong></p>&ndash;&gt;-->
            <!--&lt;!&ndash;<a class="btn btn-primary" href="#">Read More <i class="fa fa-angle-double-right" aria-hidden="true"></i> </a> &ndash;&gt;-->
          <!--</div>-->
          <!--&lt;!&ndash;service-contents&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;service-box&ndash;&gt;-->
      <!--</div>-->
      <!--&lt;!&ndash;col-md-4&ndash;&gt;-->
    <!--</div>-->
    <!--&lt;!&ndash;row&ndash;&gt;-->
  <!--</div>-->
  <!--&lt;!&ndash;container&ndash;&gt;-->
<!--</section>-->
<!--&lt;!&ndash;section-services&ndash;&gt;-->



<section id="gallery" class="section section-gallery pt-zero">
  <!-- section-title -->
  <div class="section-title text-center">
    <h1 class="text-center decor">My <span>Portfolio</span></h1>
  </div>
  <!-- end section-title -->
  <div class="container">
    <!-- Portfolio items -->
    <!--<ul class="portfolio-filter list-inline text-center">-->
      <!--<li class="current"><a href="" data-filter="*">All Works</a></li>-->
      <!--<li class=""><a href="" data-filter=".wedding">Wedding</a></li>-->
      <!--<li class=""><a href="" data-filter=".fashion">Hairstyle</a></li>-->
      <!--<li class=""><a href="" data-filter=".nature">Commercial</a></li>-->
      <!--<li class=""><a href="" data-filter=".studio">Studio</a></li>-->
    <!--</ul>-->
    <div class="portfolio-items row">
      <div *ngFor="let image of portfolioImages" [ngClass]="[image.box_size ? image.box_size == null : '', image.category]" class="portfolio-item item col-xs-12 col-sm-6 col-md-4">
        <div class="a-img" [ngStyle]="{ 'background-image': 'url(' + image.url + ')'}"></div>
        <a href="{{ image.url }}" class="mfp-image"><i class="fa fa-search"></i></a>
      </div>

    </div>
    <!-- END Portfolio items -->
  </div>
  <!--container-->
</section>
